/* tablets */
@media (min-width: 750px) {
  html {
    font-size: 1.1em;
  }
  .container {
    margin: 0 6%;
  }

  header {
    .menu {
      display: none !important;
    }

    nav {
      display: block;
      li a {
        color: black;
        font-size: 1.15rem;
        margin-left: 3em;
        font-weight: 500;
      }
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    text-align: left;
  }

  .project-end {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills {
    background-image: url("../img/skills-bg.png");
    background-position: top center;
    background-size: cover;
    .cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
      margin: 6em 0;

      .card {
        p {
          color: white;
        }
        &:nth-child(2) {
          transform: translateY(-1.5em);
        }

        &:first-child,
        &:last-child {
          transform: translateY(1.5em);
        }
      }
    }
  }

  .contact {
    form {
      max-width: 65%;
    }
  }

  footer {
    .social img {
      margin-left: 2.5em;
      margin-right: 0;
    }
  }

  .wyg {
    .cards {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 6em 2em;

      max-width: 100%;
      margin: 6em 0;

      .card {
        margin: 0 !important;

        .title {
          margin-top: 0;
        }
      }
    }
  }
}

// desktop
@media (min-width: 999px) {
  html {
    font-size: 1.2em;
  }
  .container {
    margin: 0 8%;
  }

  .hero {
    text-align: left;
    min-height: 87vh;
    background-image: url(../img/guy-sm.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;

    .content {
      align-items: flex-start;
    }
  }

  .work {
    .projects {
      grid-template-columns: repeat(3, 1fr);
      border: 1px solid #e0e0e0;
    }
    .project {
      p {
        margin: 1.5em 0;
        line-height: 2;
      }

      &:nth-child(3) {
        background-color: white;
        color: black;
        h3 {
          color: $primary-color;
        }

        .btn {
          background: $primary-color;
          color: white;

          &:first-child {
            cursor: not-allowed;
          }
        }
      }
      &:nth-child(4) {
        background-color: $primary-color;
        color: white;
        h3 {
          color: white;
        }

        .tags {
          li {
            color: black;
          }
        }

        .btn {
          background: white;
          color: $primary-color;

          &:first-child {
            cursor: not-allowed;
          }
        }
      }
    }
    .project-end {
      padding: 1.5em;
      text-align: center;
      img {
        margin-top: 1em;
      }
    }
  }

  .skills {
    .cards {
      gap: 4em;
      margin: 7em 0;

      .card {
        transition: 0.7s;
        &:hover {
          transform: translateY(1.8em);
        }

        &:nth-child(2):hover {
          transform: translateY(-1.2em);
        }
      }
    }
  }

  .wyg {
    .cards {
      gap: 5em 4em;
      margin: 6.5em 0;

      .title {
        display: grid;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        gap: 1em;

        h3 {
          margin-bottom: 0;
        }
      }
    }
  }

  .contact {
    form {
      max-width: 50%;
    }
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 1.4em;
  }
  .container {
    margin: 0 10%;
  }

  .hero {
    background-image: url(../img/guy.png);
    background-size: contain;
  }

  .hero .bg {
    background-image: url(../img/hero-bg-big.png);
  }

  .skills {
    .cards {
      gap: 5.5em;
      margin: 12em 0;
    }
  }

  .wyg {
    .cards {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: none;
      gap: 2em;
      margin: 7.5em 0;

      .title {
        gap: 1.5em;
      }
    }
  }

  .contact {
    background-image: url(../img/contact-bg-big.png);
  }
}

// big screens
@media (min-width: 2200px) {
  html {
    font-size: 2.2em;
  }
  .container {
    margin: 0 13%;
  }

  .skills {
    .cards {
      gap: 6.5em;
      margin: 10em 0;
    }
  }
}
