@import "config";
@import "base";
@import "utils";

header {
  .logo,
  .menu {
    height: 3rem;
    width: auto;
  }

  .menu {
    height: 2rem;
    cursor: pointer;
  }

  .navigation {
    margin: 1rem 0;
  }

  .navigation .flex {
    justify-content: space-between;
  }
  nav {
    display: none;

    li a:hover {
      color: $primary-color;
    }
  }
}

.hero {
  text-align: center;
  min-height: 100vh;
  .bg {
    background-image: url("../img/hero-bg.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  h1 {
    span {
      color: transparent;
      transition: color 0.9s ease;
      .fade {
        color: $primary-color;
      }
    }
  }
  p {
    color: $dark-color;
    margin: 1em 0;
    span {
      font-weight: bold;
    }
  }

  .btn {
    margin: 3rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.6em 1.85em;
  }
}

.work {
  text-align: center;

  .container {
    margin: 0;
  }

  .project {
    padding: 1.5em;
    background-color: rgb(236, 236, 236);
    h3 {
      color: $primary-color;
      font-size: 1.5rem;
    }

    p {
      margin: 1.5em auto;
      font-size: 0.85em;
      max-width: 46ch;
      line-height: 1.7;
    }

    .tags {
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0;

        li {
          font-size: 0.6em;
          background-color: #dedede;
          border-radius: 4px;
          padding: 0.7em;
        }
      }
    }

    .preview {
      display: flex;
      justify-content: space-between;
      margin-top: 1em;

      .btn {
        padding: 0.5em 1.5em;
        font-size: 0.85em;
      }
    }

    img {
      margin: 1.5em 0;
    }
  }
  .blue {
    background-color: $primary-color;
    color: white;

    h3 {
      color: white;
    }

    .tags {
      li {
        color: black;
      }
    }
    .btn {
      color: $primary-color;
      background: white;
    }
  }

  .project-end {
    padding: 1.5em 0;
    background-color: $primary-color;
    color: white;
    cursor: pointer;

    a {
      font-size: 1.5rem;
      color: white;
      transition: 0.4s;
    }

    img {
      margin: 0 1em;
      height: 2rem;
      width: auto;
      transform: translateY(0.3em);
    }

    &:hover a {
      transform: translateX(0.3em);
    }
  }
}

.skills {
  background-image: url("../img/skills-bg.png");
  background-position: top center;
  background-size: cover;
  text-align: center;

  h2 {
    margin-bottom: 0.5rem;
  }

  .card {
    h3 {
      font-weight: bold;
      font-size: 1.3rem;
      text-decoration: underline;
      margin-bottom: 1em;
    }

    p {
      font-size: 1.1rem;
      line-height: 2;
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }

    .flex {
      justify-content: space-between;
    }
  }
}

.wyg {
  text-align: center;
  background-color: $dark-color;

  h2 {
    color: white;
  }

  .flex {
    flex-direction: column;
  }

  .card {
    background-color: white;

    h3 {
      font-size: 1.3rem;
      text-align: left;

      &::first-letter {
        border-bottom: $primary-color 3px solid;
      }
    }

    p {
      color: black;
      line-height: 1.8;
      text-align: center;
      max-width: 45ch;
      margin-left: auto;
      margin-right: auto;
    }

    .title {
      margin-bottom: 1.5em;
      justify-content: space-between;
      align-items: center;
      gap: 0;
      grid-template-columns: 3fr 1fr;
    }

    img {
      width: 1.5rem;
      justify-self: flex-end;
    }

    .flex {
      flex-direction: row;
    }
  }
}

.contact {
  background-image: url("../img/contact-bg.png");
  background-position: center;
  background-size: cover;
  background-color: $primary-color;

  h2 {
    color: white;
    text-align: center;
  }

  form {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    label {
      margin: 0.2em 0;
      font-size: 1.1em;
      border-width: 0.2px;
    }

    input,
    textarea {
      margin-bottom: 0.7em;
      border-radius: 0.7em;
      padding: 1em;
      border-color: $primary-color;
    }

    .btn {
      margin: 1em 0;
      font-size: 1.2rem;
    }
  }
}

footer {
  padding-top: 1em;
  .flex {
    justify-content: space-between;
  }
  .footer-logo {
    height: 2.5rem;
    width: auto;
  }

  .social {
    img {
      width: 1.75rem;
      margin: 0 1em;
    }
  }

  nav {
    ul {
      margin: 1em 0;
      li a {
        color: black;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

@import "media";
