@import "config";
@import "base";
@import "utils";

header {
  .logo,
  .menu {
    height: 3rem;
    width: auto;
  }

  .menu {
    height: 2rem;
    cursor: pointer;
  }

  .navigation {
    padding: 0.5em 0;
  }

  .navigation .flex {
    justify-content: space-between;
  }
  nav {
    display: none;

    li a:hover {
      color: $primary-color;
    }
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #151515f2;

    ul {
      flex-direction: column;
      justify-content: center !important;
      text-align: center;

      li {
        margin: 2em 0;
        border-bottom: 1px solid white;
        padding: 0.3em 0;
        a {
          color: white;
          font-size: 1.1em;
          font-weight: bold;
        }

        &:first-child {
          border: none;
          margin-top: 0;
          cursor: pointer;
        }

        &:first-child {
          transform: translateY(-4rem);
          margin: 0;
        }
      }
    }

    img {
      height: 1.5rem;
      width: auto;
      margin: 0 0.4em;
      transform: translateY(0.3em);
      cursor: pointer;
    }

    display: none;
  }
}

.hero {
  text-align: center;
  min-height: 100vh;
  display: flex;

  .container {
    height: auto;
    width: 100%;
  }

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      span {
        color: transparent;
        transition: color 0.9s ease;
        .fade {
          color: $primary-color;
        }
      }
    }
    p {
      color: $dark-color;
      margin-bottom: 3em;
      span {
        font-weight: bold;
      }
    }

    .btn {
      font-size: 1.1rem;
      font-weight: bold;
      padding: 0.5em 1.7em;
    }
  }

  img {
    display: none;
  }
}

.work {
  text-align: center;

  .container {
    margin: 0;
  }

  .project {
    padding: 1.5em;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      color: $primary-color;
      font-size: 1.5rem;
    }

    p {
      font-size: 0.85em;
      line-height: 1.7;
      padding: 1.5em 0;
    }

    .tags {
      padding: 1.5em 0;
      ul {
        display: flex;
        justify-content: space-between;

        li {
          font-size: 0.6em;
          background-color: #dedede;
          color: $secondary-color;
          border-radius: 4px;
          padding: 0.5em 0.8em;
        }
      }
    }

    .preview {
      display: flex;
      justify-content: space-between;
      .btn {
        padding: 0.5em 1.5em;
        font-size: 0.85em;
      }
    }

    &:hover img {
      transform: scale(1.08);
    }
  }
  .blue {
    background-color: $primary-color;
    color: white;

    h3 {
      color: white;
    }

    .tags {
      li {
        color: black;
      }
    }
    .btn {
      color: $primary-color;
      background: white;
    }
  }

  .project-end {
    padding: 1.5em 0;
    background-color: $primary-color;
    color: white;
    cursor: pointer;

    a {
      font-size: 1.5rem;
      color: white;
      transition: 0.4s;
    }

    img {
      margin: 0 1em;
      height: 2rem;
      width: auto;
      transform: translateY(0.3em);
    }

    &:hover a {
      transform: translateX(0.3em);
    }
  }
}

.skills {
  text-align: center;
  background-image: url("../assets/skills-bg-sm.png");
  background-position: center;
  background-size: cover;

  h2 {
    margin-bottom: 0.5rem;
  }

  .cards {
    display: grid;
    margin: 5em 0;
    gap: 2em;
  }

  .card {
    min-width: 160px;
    margin: 0 5%;
    padding: 1em;
    h3 {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 1.5em;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.5;
      color: #06164a;
    }

    &:last-child {
      p {
        color: white;
      }
    }
  }
}

.wyg {
  text-align: center;
  background-color: $secondary-color;
  margin-top: -0.06em;

  h2 {
    color: white;
  }

  .flex {
    flex-direction: column;
  }

  .cards {
    display: grid;
    gap: 1.5em;
    max-width: 80%;
    margin: auto;
  }

  .card {
    position: relative;
    height: inherit;
    background-color: white;
    padding: 1em;

    img {
      position: absolute;
      width: 1.5rem;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: "";
      position: absolute;
      background-color: white;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      box-shadow: 3px -3px 10px #00000026;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    .title {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 0.4em;

      h3 {
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 1em;
        padding-top: 0.3em;
      }

      p {
        color: black;
        line-height: 1.5;
        text-align: center;
        font-size: 0.9em;
      }
    }

    &:last-child {
      margin-bottom: 5em;
    }
  }
}

.contact {
  background-image: url("../assets/contact-bg.png");
  background-position: center;
  background-size: cover;
  background-color: $primary-color;

  h2 {
    color: white;
    text-align: center;
  }

  form {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    label {
      margin: 0.2em 0;
      font-size: 1.1em;
    }

    input,
    textarea {
      margin-bottom: 0.7em;
      border-radius: 0.7em;
      padding: 0.5em;
      font-size: inherit;
      color: $secondary-color;
      border: 1px solid #3c62dc99;
    }

    .btn {
      margin: 1em 0;
      font-size: 1.2rem;
    }
  }
}

footer {
  padding: 1em 0;
  .flex {
    justify-content: space-between;
  }
  .footer-logo {
    height: 2.5rem;
    width: auto;
  }

  p {
    text-align: center;
    font-size: 0.8em;
  }

  .social {
    img {
      width: 1.75rem;
      margin: 0 1em;
      transition: 0.4s;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

@import "media";
